@use '../../styles/variables' as var;

.select-container {
    > div {
        border-radius: 5px;
        border: 1px solid var.$color-light-gray;
        font-size: var.$font-size-medium;
        outline: none;
        padding-block: 7px;
        padding-inline: 15px;
        transition: border-color 0.3s ease;
        width: 100%;
    }
}