@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.user-info {
  display: grid;
  grid-template-columns: 1fr auto;
  text-decoration: inherit;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;

  &_content {
    margin-left: 20px;
    @include mix.flex;
  }
}
